@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h2 class="display-4">Username: @Model.UserName</h2>
    <h2 class="display-4">Principal: @Model.PrincipalName</h2>
    
</div>


